#root {
     -fx-background-image: url("../images/background.jpg");
     -fx-background-repeat: stretch;
     -fx-background-size: 800 600;
     -fx-background-position: center center;
     -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.giantStatusText {
    -fx-font-size: 6em;
    -fx-font-weight: bolder;
}

.mediumStatusText {
    -fx-font-size: 3em;
    -fx-font-weight: bolder;
}



.mainButton {
    -fx-font-size: 70px;
    -fx-font-weight: bolder;
}