@import "../../mugres.css";

#root {
     -fx-background-position: center center;
}

.giantStatusText {
    -fx-font-size: 6em;
    -fx-font-weight: bolder;
}

.mediumStatusText {
    -fx-font-size: 3em;
    -fx-font-weight: bolder;
}

.mainButton {
    -fx-font-size: 70px;
    -fx-font-weight: bolder;
}

.oddDrummerControl {
     -fx-background-color: darkgray;
}